<h2>{{pageName}}</h2>
<input type="text" [(ngModel)]="test">{{test}}
<table class="table table-striped">
   <thead>
     <tr>
       <td>Username</td>
       <td>Date Of Birth</td>
       <td><select id="Country" [(ngModel)]="selectedCountry">
         <option value="IN">India</option>
         <option value="US">United States</option>
         </select>
       </td>
       
     </tr>
   </thead>
   <tr *ngFor="let user of Users">
     <td>{{user.name|lowercase}}</td>
     <td>{{user.DateOfBirth|date:'dd/MMM/yyyy'}}</td>
     <td>{{user.Phone|phone:selectedCountry}}</td>
     <td><button class="btn btn-primary" (click)="userDetails(user)">getDetails</button></td>
   </tr>
</table>

<div *ngIf="showDetails">
  <app-user-detail [userDetail]="item" (updateDetails)="getdatafromChild($event)"></app-user-detail>
  </div>
